# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# SQLite Database
birthdays.db
birthdays.db-journal
birthdays.db-wal
birthdays.db-shm

# OS and Editor specific files
.DS_Store
.vscode/
Thumbs.db